html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgb(189, 216, 216);
}

h1 {
  font-size: 72px;
  font-family:'Times New Roman', Times, serif;
  text-align: center;;
}

p{
  display: inline-block;
  font-size: 30px;
  margin-left: 225px;
  margin-right: 225px;
}