html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 72px;
  font-family: "Times New Roman", serif;
  text-align: center;;
}

.recipes {
  font-size: 30px;
}

.recipes:hover {
  color: gold;
}